@model IEnumerable<APEnvAuditAPI.Models.ServiceModel>
@{
    ViewBag.Title = "Services View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Services View</h2>

<div class="container">

</div>


